[2016-09-16 14:15] jcampbell05 opened #2 "Allow user to customize Bottr app"
Right now Bottr App uses a default theme with "Bottr" in the header.

It would be great to allow this to be customised so Bots can add their own branding.

[2016-09-16 14:16] jcampbell05 opened #3 "Reduce size of Bottr App dependencies"
It takes a while to install Bottr App, ideally on a good internet conenction we want this to only take 2 minutes to install.

[2016-09-16 14:16] jcampbell05 opened #4 "Improve error feedback on incorrectly configured clients"
Ideally the framework should do a better job at communicating missing configurations of clients i.e missing access tokens

[2016-09-16 14:17] jcampbell05 opened #5 "Handle errors gracefully"
When the Bot has a crash or error, we should send feedback to the user so that they aren't left staring at a typing indicator.

[2016-09-16 14:19] jcampbell05 opened #6 "Implement conversation / question methods"
Howdy's Botkit (https://howdy.ai/botkit/) has methods for asking a question and handling the answer.

Currently its a bit awkward to do this same thing in Bottr so we should look into implementing a way of asking user questions and starting a new conversation/topic.

[2016-09-16 14:21] jcampbell05 opened #7 "Handle multiple standard users"
For users using standard web hooks, web socket or Bottr App we should generate a unique user identifier for them so a user profile isn't shared across clients.

We should also introduce some kind of authentication to prevent anyone from connecting and pretending to be a user.

[2016-09-16 14:24] jcampbell05 opened #8 "Tag Releases"
I should start tagging new releases and look into if it's possible to retroactively tag older versions.

[2016-09-16 14:24] jcampbell05 opened #9 "Improve examples design"
Right now we are using a raw table, we could style this to better match the rest of the site.

[2016-09-16 14:25] jcampbell05 opened #10 "Implement bot on homepage"
We should improve the homepage design and introduce an example Bot users can talk to.

[2016-09-16 14:26] jcampbell05 opened #11 "Improve documentation"
We should move documentation out to Github Pages like Cocoapods (https://guides.cocoapods.org/) and document some of the API methods.

[2016-09-16 14:26] ummahusla commented on #9
I will take a look at it over the weekend.

[2016-09-16 15:02] jcampbell05 opened #12 "Document clients"
Document clients so developers know which options they have and how to use them.

[2016-09-27 12:08] davidmann4 opened #13 "hello - i work on something similar"
lets have a skype call? david.mann.rsa my repo: https://github.com/davidmann4/botstack

[2016-09-27 16:56] jcampbell05 commented on #13
@davidmann4  Sure :) what time would you like ?

[2016-10-01 20:17] ambonium opened #14 "Would love to see some tutorials."
Videos on YouTube about how to build a bot using Bottr for Messenger and Twitter, maybe more would be great for people to learn how to build bots with bottr :smiley:

[2016-10-01 20:46] ummahusla commented on #14
That's a good point.

[2016-10-04 10:16] #13 closed

[2016-10-04 10:19] jcampbell05 commented on #14
This is a great Idea, I have an issue to document them here #12. I think initially I'll try to make a mini-tutorial for each in our wiki with the aim to put it on our website :)

I will start planning screen casts though as I think that would be awesome!

What sort of content would you need for your bot ?

[2016-10-10 10:30] gokaygurcan opened #15 "Update help text"
Hello,

When you type `bottr-cli -h` you get this:

[code]

Usage section is not representing the actual usage.

I know, it's not a big deal, but it'd be nice to have the correct info.

Thanks in advance.

[2016-10-10 11:40] jcampbell05 commented on #15
@gokaygurcan  Thanks for this. Do you have a link for where you saw this ?

[2016-10-10 11:42] gokaygurcan commented on #15
Hello @jcampbell05,

I see it when I type `npm install -g bottr-cli && bottr-cli -h` into my terminal.

[2016-10-10 12:29] jcampbell05 commented on #15
@gokaygurcan Cool, so I will be pushing an update soon - `init` and `start` should still be valid.

[2016-10-10 12:34] gokaygurcan commented on #15
Perfect! Thanks, and good luck!

[2016-10-10 16:45] ummahusla opened #16 "TypeError: session.reply is not a function"
I was following the docs in order to setup the bot and suddenly I've encountered this error.

[code]

[2016-10-10 16:47] jcampbell05 commented on #16
Looks like the old example code needs to be updated to be `send`, session keeps track of the conversation now.

[2016-10-10 21:46] jcampbell05 opened #17 "Topics"
Allow the bot to listen out to messages regarding a certain topic. Code is already in `master for this.

For example a bot can ask "Whats your age?" then a topic is triggered where the bot will focus on listening out for that age.

An alternative name for this feature could be a `Focus` since that is what the bot does.

[2016-10-10 21:47] jcampbell05 commented on #3
Should be fixed in latest Bottr-App by making these implicit dependencies

[2016-10-11 06:50] sandeep opened #18 "Examples out of date?"
Following instructions here:
https://github.com/Bottr-js/Bottr/wiki/Creating-a-new-project

Results in :
[code]

Additionally the code output by `bottr-cli init` is not the same as the example.

[2016-10-11 07:06] jcampbell05 commented on #18
@sandeep good catch, will update these now

[2016-10-11 08:15] ummahusla commented on #18
I had this issue yesterday. We are going to update the docs very soon!

For now, please run `bottr-cli start` , it should fix this issue for now.

[2016-10-11 08:40] jcampbell05 commented on #18
I've just gone through the Wiki and updated the docs to correctly instruct you to run `bottr-cli start` and open `localhost:3000`.

Let me know if this works for you.

[2016-10-11 08:40] #18 closed

[2016-10-11 08:43] jcampbell05 commented on #16
@ummahusla I've pushed a new version of `bottr-cli` let me know if `bottr-cli init` generates something that works.

[2016-10-11 09:12] ummahusla commented on #18
@jcampbell05 Will test it in the evening

[2016-10-11 09:13] ummahusla commented on #16
@jcampbell05 Will do it in the evening 👍

[2016-10-11 15:13] ahmadawais opened #20 "Unable to Install"
I get this error, any idea what's wrong?

[code]

My node and npm versions.

[code]

[2016-10-11 15:56] jcampbell05 commented on #20
@ahmadawais  I found this Issue on the NPM Github Page https://github.com/npm/npm/issues/13946 - Let me know if this helps

[2016-10-11 21:06] #3 closed

[2016-10-11 23:01] vutran opened #21 "Why not use "bottr" for CLI"
For `bottr-cli`, it would be better to just use `bottr`.  I know I can simply create an alias as a user, but it is a lot easier to type. Thoughts on why `bottr-cli` was chosen instead as the primary command?

[2016-10-12 06:32] ummahusla commented on #21
That's a good point. But the thing is that at the moment we have several repositories like `Bottr`, `Botrr-CLI`, `Bottr-App` and so on, and in order not to confuse people, I would personally leave it as it is.

@jcampbell05 What do you think?

[2016-10-12 08:48] jcampbell05 commented on #21
So you mean to call the actual binary NPM creates `bottr`rather than the Repo or package.

Historically this was called `bottr-cli` as it was supposed to let you test your bot via the cli. However it doesn't really do this now (only make a new project and start up your bot) but one could argue the name is still valid.

This tool was inspired very much the way react-native does things and I've noti

[2016-10-12 14:16] vutran commented on #21
Closing this as it is has recently been merged in.

[2016-10-12 14:16] #21 closed

[2016-10-12 16:15] ummahusla commented on #20
@ahmadawais Have you fixed this issue as per @jcampbell05 suggestion?

[2016-10-12 18:40] ahmadawais commented on #20
@ummahusla Nops!
I have to many dependencies running on Node, current projects, that I cannot afford to spend a day or two on debugging things if I reinstall Node. Which is why I am not going to try it out right now.

[2016-10-12 18:41] ummahusla commented on #20
@ahmadawais Okay, please raise the issue again, if after time it still appears.

[2016-10-12 18:41] #20 closed

[2016-10-12 19:26] jcampbell05 opened #23 "Events"
Some prototype code is on `master` but basically this is the ability to push events to the Bot from an external service (i.e push content to a user via the bot)

[2016-10-12 20:47] vutran commented on #8
We should be able to do this by specifying the commit's checksum...

Sample commit: 3a7bfbc

[code]

[2016-10-12 20:59] jcampbell05 commented on #8
@vutran  is there a way to figure out the commit for a NPM _ackage ?

[2016-10-12 21:06] vutran commented on #8
npm usually reads from the `version` specified from `package.json`.

If you've been using [`npm version <something>`](https://docs.npmjs.com/cli/version) to bump, it should have automatically created git tags locally as well as a new commit that bumps the `version` in `package.json`. It makes it really easy to see where the tag points are in the commit history.

[2016-10-12 21:35] jcampbell05 commented on #8
Cool will try that in future :) and will have to manually tag the older releases I guess.

[2016-10-13 15:48] vutran opened #25 "Move clients into new folder"
We should begin moving the different clients to a new folder `lib/clients` and also provide an interface to allow building clients easily which should also contribute towards the effort in #12

[2016-10-13 15:51] jcampbell05 commented on #25
@vutran Do you want to take the lead ? This may be a great way of introducing you to the project.

Once we've done this then we can tackle #12 :)

[2016-10-13 15:51] vutran commented on #25
Yeah, I'll take this.

[2016-10-13 16:31] ambonium commented on #14
Yep!
Screencasts are much better :)
Messenger bots are very common these days so a basic tutorial on that would be great!
However, I'm looking forward to use bottr to build something for Twitter and I'm new to that. So that would be awesome!

[2016-10-13 16:35] jcampbell05 commented on #14
@ambonium So how will you plan to use these for Twitter DMs ? Just to reply to tweets ?   Just so I can focus on that to get you up and running as quickly s possible :)

[2016-10-13 16:43] ambonium commented on #14
Not just DMs but something like #AskJelly is amazing!
Here are a few inspirations:
https://www.producthunt.com/@rrhoover/collections/twitter-bots
https://botlist.co/platforms/16-twitter

[2016-10-13 17:39] tjwudi opened #26 "Error: Can't set headers after they are sent."
I've deployed my messenger app the heroku, found following error for every messenger message event.

Also the messenger bot has a significant reply delay (1+hr) about 3 mins after setting subscription.

[code]

[2016-10-13 17:41] jcampbell05 commented on #26
Interesting, I believe I know the issue. I'll push a patch shortly.

[2016-10-13 17:45] tjwudi commented on #26
@jcampbell05 yeah I guess for `.forEach` is the issue. The later iterations might also send status code which raises the issue.

[2016-10-13 17:46] jcampbell05 commented on #26
Exactly 😀 just need to move the code to outside of that loop.

[2016-10-13 17:47] tjwudi commented on #25
We could probably pull clients out as plugins, and provide endpoint in main repository to add plugin. This allows us to extend to other medias like Slack, wechat and so on.

[2016-10-13 17:49] jcampbell05 commented on #25
Yeah that will make a lot of sense. I'll need something like that for when I add HTTP Events into the framework since I'll need a way of routing the event to the original client the user came from.

[2016-10-13 17:51] jcampbell05 commented on #25
@tjwudi would you like to join our slack btw?

[2016-10-13 17:52] tjwudi commented on #25
@jcampbell05 of course. I am also now investigating building a bot app :)

[2016-10-13 17:54] jcampbell05 commented on #25
@tjwudi let me know your email so I can invite you

[2016-10-13 18:05] tjwudi commented on #25
@jcampbell05 https://privnote.com/QJN295bm#gRiUohBbU

[2016-10-13 18:08] jcampbell05 commented on #26
@tjwudi Let me know if this fixes it for you.

[2016-10-13 18:09] jcampbell05 commented on #25
@tjwudi  let me know if you got the invite.

[2016-10-13 21:01] jcampbell05 opened #28 "Does response middleware make sense"
Or should clients conform to a convention and use `express.js` methods directly ?

https://github.com/Bottr-js/Bottr/blob/master/lib/response-middleware.js

[2016-10-13 21:55] #26 closed

[2016-10-14 00:27] vutran commented on #11
I like this idea. Docs should be a part of the repo so as API changes, we can update the docs/tests accordingly. Using the Wiki for API documentation can tend to cause some frustration of keeping them in sync.

[2016-10-14 05:07] tjwudi opened #32 "Allow using custom Session class"
Current `Session` class stores user context in memory. This is legit when we are only serving bot on single machine. Once we are going to serve it onto multiple servers behind load balancer, we should allow user to implement their own Session logic to utilize Redis, Memcache etc.

[2016-10-14 12:48] jcampbell05 commented on #32
@tjwudi Yeah we need to implement implementations for Redis.

The `Session` is a bit of a weird class right now and in theory some of its behaviour could be handled by the Bot or the Client.

[2016-10-16 15:42] adamjuhasz opened #33 "Integration with infra.cat"
I agree it would be cool to ingrate this with [infra.cat](https://infra.cat). All we would need to do is change the messenger clients send api URI in `/lib/facebook-messenger-client.js`.

Options are:
1) create a new client
2) add a send-api config option
3) add an environmental variable

I think option 2 is the best, thoughts?

[2016-10-16 16:28] #33 closed

[2016-10-16 16:46] adamjuhasz opened #35 "Adding user agent for outgoing requests"
Will make it easier to track usage

[2016-10-16 17:40] adamjuhasz opened #36 "remove user_agent check in messenger webhook"
I can't find any official documentation that the user agent will be `facebookplatform`.

Is checking the `x-hub-signature` enough, since that is the only official way of checking validity?

[2016-10-16 17:41] jcampbell05 commented on #36
@adamjuhasz I saw it once in one of the HTTP Requests from Facebook but `x-hub-signature` probably is enougth as I've seen cases where the `facebookplatform` isn't in the agent.

[2016-10-16 17:55] adamjuhasz commented on #36
I was looking at the current way of handling webhooks, do I undestand it correctly that all webhooks will be at `/webhook` and an event is sent with the event name `'webhook'` to all listeners? Since `x-hub-signuture` is commonly used by webhook APIs (ex github), I would be scared of using just that to differentiate FB from other web hooks.

Is it better to se up multiple webhook paths, one for ea

[2016-10-16 18:04] jcampbell05 commented on #36
@adamjuhasz  Yeah I totally agree, I would like for us to move towards something like that especially as we will have other endpoints for other features like pushing content to the Bot.

[2016-10-16 22:34] vutran commented on #25
PR #31 is ready for review. I'll be submitting a new PR for the interface with the current implementation.

[2016-10-16 23:12] jcampbell05 commented on #25
Merged #31 which does exactly this

[2016-10-16 23:12] #25 closed

[2016-10-17 06:35] sbose78 opened #39 "Failed to get the app working in the tutorial"
Hi,

I found this project very interesting and was looking to contribute as well. Prior to that, wanted to build something for myself but ...

Tutorial in the wiki doesn't seem to be working -
https://gist.github.com/sbose78/bb5da79ea6332b539c3d9c88c6a1e3ff

Reached till the testing of the deployed app.
https://github.com/Bottr-js/Bottr/wiki/Deploying-Your-Bot#testing-it-out

I send a message from

[2016-10-17 06:59] sbose78 commented on #39
OK, the messages arrived. with a lot of delay though - no worries.

[2016-10-17 06:59] #39 closed

[2016-10-17 10:13] jcampbell05 commented on #39
@sbose78 great to hear that it arrived. Would love to know if you can find out why they took so long. Perhaps heroku was spinning up it's servers ?

Anysways let me know how you get on and I would love for you to contribute :)

[2016-10-17 18:10] modInfo opened #40 "pozi install error"
I get this error on raspberry pi 3 with rasbian

[code]

[2016-10-17 18:11] jcampbell05 commented on #40
What commands did you run, what operating system and can you share your package.json

[2016-10-17 18:14] modInfo commented on #40
[code]

[2016-10-17 18:15] jcampbell05 commented on #40
I see you are running this on a raspberry pi, what operating system is it running ?

[2016-10-17 18:17] modInfo commented on #40
I run this on rasbian..

I try to add _--no-optional_ command, but nothing

`mod@raspberrypi:~/botcli $ npm install --no-optional pozi
npm WARN deprecated pozi@1.0.0: Package abandoned, contact support@npmjs.com for more info.
your-bot@1.0.0 /home/mod/botcli
└── pozi@1.0.0

npm WARN your-bot@1.0.0 No description
npm WARN your-bot@1.0.0 No repository field.`

[2016-10-17 18:40] jcampbell05 commented on #40
@modInfo  Where did you find those instructions ? We've renamed the package `bottr-cli`

[2016-10-17 19:16] modInfo commented on #40
Nothing.

[code]

[2016-10-17 19:20] vutran commented on #40
Your start script should `node index.js`.

[2016-10-17 19:30] modInfo commented on #40
@vutran Dosent work without modules..

[code]

[code]

[2016-10-17 19:41] vutran commented on #40
Do you have a link to the code? You don't need `bottr-cli` to run a bot. That is used to create a bot.

[2016-10-18 00:29] pavs commented on #40
Having same issue, Followed the documentation.

[code]

[2016-10-18 00:57] vutran commented on #40
Why is it requiring `pozi`? Can you try changing that to `bottr`?

[2016-10-18 01:03] pavs commented on #40
I used the sample code from [doc](https://github.com/Bottr-js/Bottr/wiki/Creating-Your-First-Bot), changing it to bottr, fixed it. Can you place update your doc to reflect it?

I get this error now:

[code]

going to http://localhost:3000 gives this error:

[code]

[2016-10-18 02:14] vutran commented on #40
Hi @pavs, thanks for the suggestion. I've updated the guide here.

It looks like you are missing the `bottr-app` module. This module is a simple chat app that allows you to connect to the bot.

[code]

Once installed, you can apply a new instance of `bottr-app` into the bot.

[code]

As for documentations, we're currently working to improve upon the documentations (#11) to provide a better experie

[2016-10-18 14:41] jcampbell05 opened #43 "Make Our Site Look Awesome"
We have a new site but it still needs a lot of work.

https://bottr.co/

1. Tidy up vertical rhythmn spacing.
2. Fix it on mobile devices
3. Make sure it is obvious to the reader what it is, maybe add more examples of the platforms and services we support.

[2016-10-18 14:44] jcampbell05 opened #44 "Fix Our Examples page"
It seems to have gone down https://bottr.co/examples

We should update it anyhow to fit in the new website as well as add some better examples such as a weather bot, todo bot and reminder bot.

[2016-10-18 15:26] Fineas commented on #44
Hey!
Do you have an identity guideline or something?

[2016-10-18 15:34] aaronraff commented on #43
I would like to help out with this. Would it be acceptable to choose one step and submit a pull request for just that step or are you looking for one request that fulfills all of these requirements?

[2016-10-18 15:39] jcampbell05 commented on #43
@aaronraff  It would be acceptable to do one step :)

[2016-10-18 15:41] jcampbell05 commented on #44
@Fineas  Are you talking in terms of branding. I have all the logos here https://github.com/Bottr-js/Bottr-Brand but I don't really have a guideline yet as it's something I need to develop

[2016-10-18 15:54] PXgamer opened #45 "Grammar change on website"
This obviously isn't that important, just something I noticed.

On the homepage of the [site](https://bottr.co/) in the box saying `The World's Simpilest Bot Framework` it uses `Simpilest` instead of `Simplest`.

It also says this in the homepage example code.

I'm guessing it should be `The world's simplest bot framework` as per the [`package.json`](https://github.com/Bottr-js/Bottr/blob/master/p

[2016-10-18 15:56] jcampbell05 commented on #45
@PXgamer Good catch! I'll try to get that fixed up.

[2016-10-18 15:59] geoffdavis92 commented on #43
@aaronraff Do you want any help, or do are you good?

[2016-10-18 15:59] PXgamer commented on #45
NP. I also was gunna do a pull request to change the README.md logo to the following.
![Logo](https://bottr.co/images/logo-d65664e2.png)
Would that be alright?

[2016-10-18 16:02] aaronraff commented on #43
@geoffdavis92 If you would like to contribute, I'm sure we could split up the work!

[2016-10-18 17:10] #40 closed

[2016-10-18 20:17] aaronraff commented on #43
@jcampbell05 Maybe I am missing something but I do not believe that the repository contains your front-end files for the Bottr website. Please let me know how I can obtain these files so that I can contribute to this project.

[2016-10-18 20:24] jcampbell05 commented on #43
@aaronraff they should be in the gh-pages repository. We use middleman to generate it right now.

[2016-10-18 20:27] aaronraff commented on #43
@jcampbell05 I found them, thank you.

[2016-10-18 20:46] geoffdavis92 commented on #43
#52

Cleaned up the Sass and HTML some, made a few minor design changes.

[2016-10-18 21:05] geoffdavis92 commented on #44
@jcampbell05 It looks like the /examples page was removed in the migration to the new site, [see here](https://github.com/Bottr-js/Bottr/pull/42/files#diff-8).

Do you have any working examples to link to?

[2016-10-18 21:28] jcampbell05 commented on #44
@geoffdavis92  The links on that original page should still work :)  the examples themselves are hosted at https://github.com/Bottr-js/Bottr-Examples

Eventually I want to make it easier for people to update the hosted examples via PR (I have to upload any PR).

If you could create a new page for examples, initally it can host the original examples but I want to replace them in the long term with

[2016-10-19 02:23] geoffdavis92 commented on #45
Can this be closed?

[2016-10-19 02:29] vutran commented on #45
Thanks!

[2016-10-19 02:29] #45 closed

[2016-10-19 02:32] geoffdavis92 commented on #43
PR #53

Added more responsive styling; looks great on the Chrome DevTools emulators. Again, you can preview this [here](https://geoffdavis.info/Bottr/).

[2016-10-19 05:36] sbose78 opened #54 "Bot stops responding to FB messenger after first conversation"
Hi,
I tried out the tutorial which echoes messages and returns /stats on demand.

1. I configured webhooks, page access token,etc
2. sent a message from the page admin user to the page.
3. received the echoed message ( I've quoted the logs below )
4. all subsequent messages stop triggering the echoed response.
5. I generate  new page access token and configure it ( this triggers a hot reboot I'm g

[2016-10-19 07:22] jcampbell05 commented on #54
@sbose78  Did you check the echo_webhook by any chance, I think if you uncheck that it will stop it continually sending stuff like this. We should probably add a filter into the Bottr Facebook client to detect that webhook

[2016-10-19 07:55] sbose78 commented on #54
Hi @jcampbell05 ,
Did you mean 'message_echoes' ? I never turned it on.

I'm just wondering if the problem is here:
https://github.com/Bottr-js/Bottr/blob/master/lib/session.js#L6

[code]

Or
with the way the session send queue is being handled/emptied.

[2016-10-19 09:13] jcampbell05 commented on #54
@sbose78 It could be, do you have any ideas on how we could improve this? We just need a basic queue for sending messages one by one.

[2016-10-19 18:33] vutran opened #56 "replace mentions of "pozi" with "bottr""
[Bottr-App](https://github.com/Bottr-js/Bottr-App) still has references to the old name "pozi". This should be renamed to "bottr".

[2016-10-19 18:43] arpit1997 commented on #56
Can you tell where it is mentioned that "Bottr-App" as "pozi". The above link points to a different repository so if it is an issue of [that](https://github.com/Bottr-js/Bottr-App) then you can move this issue in that repository.
Thank you. :smile:

[2016-10-19 19:01] vutran commented on #56
@arpit1997 The issues are currently consolidated to single repo as to provide a single place for management of opened issues.

[Here](https://github.com/Bottr-js/Bottr-App/search?utf8=%E2%9C%93&q=pozi) is a quick link for the mentions of "pozi".

Hope that helps.

[2016-10-19 19:05] arpit1997 commented on #56
Thank you very much for your response. I thought that it might be a mistake of opening this issue here but i got your point. I would like to give it a try. I suppose it is not much work to do. :smile: :+1:

[2016-10-19 20:27] #56 closed

[2016-10-19 20:34] jcampbell05 commented on #43
@geoffdavis92  Looking amazing now! Will close this.

[2016-10-19 20:34] #43 closed

[2016-10-19 20:37] jcampbell05 commented on #36
We should be able to implement this now @vutran's ES6 classes are now implemented.

[2016-10-19 21:14] vutran commented on #36
@jcampbell05 Actually, the ES6 classes are not merged (#41). There's still some broken tests I need to fix which should be done soon (got a lot of things going on right now).

[2016-10-21 01:50] tanhauhau commented on #14
How about a tutorial taught by a bot?

[2016-10-21 09:47] jcampbell05 commented on #14
@tanhauhau  that would be pretty sweet!

[2016-10-25 10:12] ummahusla opened #61 "Get Started button broken"
On the [**bottr.co**](http://bottr.co) homapge - [**Get Started**](https://bottr.co/docs/install) button is broken and lead to 404 page.

[2016-10-25 10:14] jcampbell05 commented on #61
Cool just needs updating to point to https://github.com/Bottr-js/Bottr/wiki/Creating-a-new-project

[2016-10-25 10:16] ummahusla commented on #61
@jcampbell05 Where bottr.co website is currently hosted? I though it's GitHub pages.

[2016-10-25 10:16] jcampbell05 commented on #61
@ummahusla It is hosted on Github Pages yes :)

[2016-10-25 10:18] ummahusla commented on #61
@jcampbell05 Yeah as I though but I can't find the repo for it. Can you send me the link please.

[2016-10-25 10:19] jcampbell05 commented on #61
@ummahusla  its this repo but on the `gh-pages` branch

[2016-10-25 10:22] ummahusla commented on #61
@jcampbell05 Nice one, #62 👍

[2016-10-25 10:22] #61 closed

[2016-10-26 08:02] ayushj31 opened #63 "bottr: command not found"
I tried creating a new project. Following are steps:
1. brew install node
2. sudo npm install -g bottr-cli
3. mkdir ecobot && cd ecobot && bottr init

It creates and redirect to directory "ecobot" but unable to find bottr.
says: **bottr: command not found**

[2016-10-26 10:37] jcampbell05 commented on #63
@ayushj31 Could you try `bottr-cli init` its possible the latest version of the tool hasn't been released. I'll try and upload a new version today.

[2016-10-27 09:59] ivarsmas opened #64 "Fix a broken link on 'Installation' page of docs to: Creating your fisrt bot"
In the documentation in the first page: [Installation](https://bottr.co/docs.html) at the end of the page there are a broken link, left /docs on href, it need change:

https://bottr.co/creating-your-first-bot.html by:

https://bottr.co/docs/creating-your-first-bot.html

[2016-10-27 10:26] jcampbell05 commented on #64
@ivarsmas Hey are you able to submit a PR for this ?

[2016-10-28 07:33] klugjo commented on #63
Same issue here

[code]

worked

[2016-10-28 13:06] jcampbell05 commented on #63
@klugjo  Thanks for confirming, I'll make sure to get a new version up today which fixes this :)

[2016-10-28 14:29] jcampbell05 commented on #63
Should be fixed, if you upgrade to `bottr-cli@0.1.3`

[2016-10-28 14:29] #63 closed

[2016-10-28 14:30] jcampbell05 commented on #64
Should be fixed now

[2016-10-28 14:30] #64 closed

[2016-10-28 18:20] geoffdavis92 opened #68 "Bottr featured on Javascript Daily's twitter"
@jcampbell05

[Link to tweet here](https://twitter.com/JavaScriptDaily/status/792067423314776064)

[2016-10-28 18:20] #68 closed

[2016-10-28 18:25] gunar opened #69 "Why callbacks?"
and not Promises?

Would love to hear your reasoning. Thank you!

[2016-10-28 18:49] albertosantini opened #70 "Examples link broken"
Getting `404` clicking on [Examples](https://bottr.co/examples.html) link in the home page.

I saw this commit https://github.com/Bottr-js/Bottr/commit/c692bc8ed8378b9ab59bc8c1e0ca4aaf469c1551, but it is not published to `middleman/build/`.

[2016-10-28 19:21] jcampbell05 commented on #70
@albertosantini Good catch, will fix this straight away.

[2016-10-28 19:34] jcampbell05 commented on #69
@gunar Methods like hears and on are event based so make sense to use callbacks since promises are for a different design pattern and don't work with those.

Although maybe they could work ? I don't know.

However,  I would love to add in a way of adding some promises for some of the actions the bot can perform such as sending a message. So you could use `.then` to do something after a message was

[2016-10-28 19:53] gunar commented on #69
Yup, `hear` is event-based so that needs to take a callback/thunk. But from then on one could use promises to chain a sequence of methods (e.g. `say.then(ask).then(say)`). Thank you!

[2016-10-28 19:53] #69 closed

[2016-10-28 21:20] jcampbell05 commented on #68
@geoffdavis92 Amazing! Thanks for spotting this :) Was wondering why we had another epxlosion of activity.

Btw are you on our slack ?

[2016-10-28 22:16] geoffdavis92 commented on #68
@jcampbell05 I am not; I actually posted in one of my PRs this morning about that 😄 . You can email me an invite at gdavis@archermalmo.com

[2016-10-28 22:23] jcampbell05 commented on #68
@geoffdavis92 Sent :) sorry about that.

[2016-10-28 22:24] jcampbell05 commented on #69
@gunar  Yup makes total sense and something I would love to have 👍

[2016-11-03 10:14] ummahusla opened #71 "Add robot emoji to the repo's description"

[2016-11-03 11:11] jcampbell05 commented on #71
@ummahusla  We definitely need this, All the bots!

[2016-11-03 11:16] ummahusla commented on #71
Add it, now it's time to test in all browsers on different OS.

[2016-11-03 11:16] #71 closed

[2016-11-03 12:19] jcampbell05 commented on #14
I've pushed up some documentation on how to setup the `TwitterClient`, I'm planning to do some Live Screencasts on Youtube if you are interested ?

[2016-11-03 12:20] ambonium commented on #14
@jcampbell05 woot!

[2016-11-03 12:39] jcampbell05 commented on #44
Should be Up now. But needs to be tweaked to match our design :) and to have some good community examples :)

[2016-11-03 12:40] jcampbell05 commented on #15
Should be fixed in latest version.

[2016-11-03 12:40] #15 closed

[2016-11-03 12:40] jcampbell05 commented on #35
:) open to PRs if you want to contribute :)

[2016-11-03 12:41] jcampbell05 commented on #36
@vutran  let me know if I can help :) I think we should merge into `master` and split it up :) there are a lot of things that need to come together before 0.2.0

[2016-11-03 20:46] adamjuhasz commented on #35
We have some client meetings & pitches next week so won't be able to work
on this till after.
On Thu, Nov 3, 2016 at 8:40 AM James Campbell <notifications@github.com>
wrote:

[2016-11-03 23:15] jcampbell05 commented on #35
No worries :)

[2016-11-07 16:53] geoffdavis92 commented on #44
@jcampbell05 I can take a look at this sometime this week.

[2016-11-08 22:19] #10 closed

[2016-11-08 22:20] #6 closed

[2016-11-08 22:52] hafezdivandari opened #73 "Telegram Bot API"
Hi, Is it possible to add support Telegram Bot API? How?

https://core.telegram.org/bots
https://core.telegram.org/bots/api

[2016-11-09 20:42] jcampbell05 commented on #73
I'm working on some documentation about building your own custom client but the best way is to study the https://github.com/Bottr-js/Bottr/blob/master/lib/clients/facebook-messenger-client.js

Basically right now the client listens out for a webhook event when somehting hits the `/webhook` endpoint and triggers the events.

It then implements some methods for sending a method etc.

I can invite yo

[2016-11-10 19:56] jcampbell05 opened #74 "Fix X-Hub-Signature Exploit"
https://chatbotsmagazine.com/how-to-kill-a-bot-with-10-http-requests-ca7eb57c2ad1#.j685u0tdj

[2016-11-14 05:16] stuartcw opened #75 "https://bottr.co/examples page is broken."
Hi,

I reached [https://bottr.co/examples](https://bottr.co/examples) while checking the documentation on [https://bottr.co](https://bottr.co) but that link seems to be broken.

Regards

[2016-11-14 10:35] jcampbell05 commented on #75
Cheers for this, seems to be something weird with the server we are using - will have this fixed this week.

[2016-11-14 10:35] jcampbell05 commented on #75
Duplicate of #70

[2016-11-14 10:35] #75 closed

[2016-11-14 10:35] jcampbell05 commented on #12
Should be in new documentation website

[2016-11-14 10:35] #12 closed

[2016-11-14 10:36] jcampbell05 commented on #11
Moved into a Github Page

[2016-11-14 10:36] #11 closed

[2016-11-14 10:36] #16 closed

[2016-12-01 01:41] panayotoff opened #77 "No webhook handlers configured"
Hi;

I tried the example app, but have some problems making it work. From the deploying page:

I guess it should be absolutely url ( otherwise facebook will throw an error );

However when I try this I get this response from my url:
[code]

The interesting thing is the bot is working when receiving first message from the first user, then it stop working.

[2016-12-02 17:29] jcampbell05 commented on #77
@panayotov I'm wondering if there is somehting about FB's API that changed. I'm working on making the client more robust.

Are you able to get a log of what Facebook sends to your server ?

[2016-12-04 12:03] pleabargain commented on #70
still broken dec4
https://bottr.co/examples
404

https://goo.gl/photos/3ULoYRFSU2RnDXn16

[2016-12-12 16:41] yashmurty commented on #70
Still broken. Dec 12.

[2016-12-14 13:33] ummahusla commented on #70
Closing this, because it's a duplicate of #44.

Currently, all the examples are located in [**Bottr-Examples**](https://github.com/Bottr-js/Bottr-Examples) repository. At some point, we need to migrate it into this repository to `gh-pages` branch.

[2016-12-14 13:33] #70 closed

[2016-12-14 13:35] ummahusla commented on #44
Currently, all the examples are located [**here**](https://github.com/Bottr-js/Bottr-Examples). At some point, we need to migrate it into this repository in `gh-pages` branch.

[2017-01-05 11:49] davidmann4 commented on #74
Also make sure to use a constant time algorithm to compare the two values to avoid potential timing attacks.

[2017-01-06 20:17] panayotoff commented on #77
@jcampbell05 No, just this. I gave up eventually, but I'll give it a try as soon as possible.

[2017-01-19 13:56] ghost opened #78 "[HELP] Looking For Contributors"
I'm looking for contributors for this project so if anyone wants to get involved message me here!

[2017-01-19 14:00] m1guelpf commented on #78
@james-aiwip I would like to help!

[2017-01-19 14:02] jcampbell05 commented on #78
@m1guelpf  I'll add you as a contributor :)

[2017-01-29 21:55] killix opened #79 "Integrate Broid to focus on higher level features"
After discussed with @jcampbell05. It will be a good idea to use @broidHQ [librairies](https://github.com/broidHQ/integrations) to integrate easily messaging platforms.

Actually Broid support:  Slack, Twitter, Viber, Line, Callr, Twilio, Skype, Discord, Messenger, Telegram, Kik and Flowdock. Coming this month: IRC, Email, Alexa

This work can fix quickly request feature like https://github.com/Bo

[2017-02-15 15:51] geoffdavis92 opened #80 "Website displays Apace default page"
Seems like there's an error with the server setup for the website; http://bottr.co shows this page instead:

![bottr.co on 15-2-2017](http://image.prntscr.com/image/0ca2ca209beb4e6f8b677e5f6498f75c.png)

@jcampbell05

[2017-02-16 09:53] jcampbell05 commented on #80
Interesting I'll take a look

[2017-02-23 23:14] mrredbit commented on #80
Since the site is down, the document cannot be view.
Anywhere else I can see the document / guide? Really wanna try it out.

[2017-02-26 13:44] jcampbell05 commented on #80
@mrredbit I have it back up but it seems github doesn't serve HTTPS to custom domains I'm currently setting up a cloudflare which will resolve this :)

[2017-02-26 13:54] jcampbell05 commented on #80
This should be resolved now, let me know.

Check it here.
https://bottr.co/

[2017-02-26 13:54] #80 closed, assigned to nobody

[2017-02-26 13:55] jcampbell05 commented on #79
@killix do you have support for web sockets at all ?

[2017-02-27 15:48] mrredbit commented on #80
@jcampbell05 Not sure if this is the correct place to report, just to let you know https://bottr.co/examples still returning 404 at the moment.

[2017-02-27 18:13] jcampbell05 commented on #80
@mrredbit good catch :) I'll try to get a better examples page up :)

[2017-02-27 18:35] mrredbit opened #81 "[Question] Roadmap"
1. Is there a roadmap of Bottr?
2. What are the next coming features?
3. Is the a plan to support non plain text reply of different platform? i.e. Buttons, Carousel... etc.

[2017-02-28 02:42] killix commented on #79
you want to use web sockets to communicate with Broid libraries?

[2017-02-28 02:43] killix commented on #81
for the `3.` [#79](https://github.com/Bottr-js/Bottr/issues/79) can help.

[2017-02-28 10:24] jcampbell05 commented on #81
@mrredbit so I have started a milestone in the project but here are our list of features we wish to release in 0.2.

- Full support for functionality across all platform, #79 will help us here so we can focus on higher level features. Currently we are waiting on some changes to make it easier to integrate as well as a Websocket client.
- i81n the ability to localize the stuff sent by your bot with

[2017-02-28 10:26] jcampbell05 commented on #79
@killix yeah so we currently have a custom web UI which uses web sockets to communicate, I guess I could build a client for that.

[2017-03-01 19:15] mrredbit commented on #81
@jcampbell05 do you want any change to the Web UI? Right now I am trying to implement a simple chatbot UI on web. Depending on how it works out, I might be able to contribute on the web part in the future, but I couldn't say for sure.

Personally, I have some thoughts about the current web component:
1. Unlike normal IM bot, which the bot always occupying the full screen, a web bot should be more

[2017-03-01 19:29] jcampbell05 commented on #81
@mrredbit I would love some contributions on the web UI, I totally agree and it would make it much easier to maintain if it was split out like that.

I would love to have it customizable to the point we could embed it in the Bottr website.

[2017-03-02 20:08] geoffdavis92 commented on #80
@jcampbell05 I will take a look at that as well. That's partly how/why I found the Apache error :P

[2017-03-02 20:53] jcampbell05 commented on #80
@geoffdavis92 awesome :) would love to see what you come up with :)

[2017-03-16 21:31] garrettmac opened #83 "Examples link routes to dead link"
I'd take a look at the examples hyperlink. It's a dead link.

[2017-03-16 21:36] jcampbell05 commented on #83
@garrettmac  seems the server has gone down I'll have a look :)

[2017-04-05 06:52] ummahusla commented on #83
Closing this, because it's a duplicate of #44.

Currently, all the examples are located in [**Bottr-Examples**](https://github.com/Bottr-js/Bottr-Examples) repository. At some point, we need to migrate it into this repository to `gh-pages` branch.

[2017-04-05 06:52] #83 closed, assigned to nobody

[2017-05-17 10:29] mkneib opened #84 "[Question] TypeError: session.getUserContext is not a function"
Hi,

i,ve tried to add functionality as described as  first steps here.
[code]
This ends in an error, when typing "/stats"

[code]

The function getUserContext is not declared in the file
[code]

[2017-06-07 17:55] sebastiangrebe commented on #84
When I see this correctly the current npm package which is installed via bottr init is not the same version as in the master branch

[2017-09-06 13:03] ayyoub- opened #85 "No webhook handlers configured"
Hii,

I build my app using Bottr and it works fine on heroku, But when i try to connect it with my Facebook Page & App i cannot verify and save webhooks i got this error.

{"error":"No webhook handlers configured"}

The URL couldn't be validated. Callback verification failed with the following errors: HTTP Status Code = 403; HTTP Message = Forbidden

my heruko app : https://nameless-falls-33513.he

[2017-09-10 10:41] joenas opened #86 "Documentation page unreadable on iPhone SE"
The actual text column clips and I can't zoom out either...

[2017-10-24 07:09] sarvex opened #87 "Getting Started : Creating Your First Bot sample does not work"
const Bottr = require('bottr');
    const bot = new Bottr.Bot();

    bot.on('message_received', function(message, session) {
      session.send('Hello World')
    })

    bot.listen();

The code when run gives error `Cannot GET /`

However if I include the BottrApp back it gives the expected result

    const Bottr = require('bottr');
    const BottrApp = require('bottr-app');

    const bot = ne

[2017-10-26 07:28] ummahusla commented on #87
@sarvex Do you want to make a PR and update outdated information?

[2017-10-26 07:29] ummahusla commented on #86
Documentation page clearly needs to be updated. Not sure if it's going to be anytime soon as Bottr hasn't been recently updated.

[2017-10-26 14:56] sarvex commented on #87
I would love to do that, unfortunately I cannot find the repository which hosts the samples

[2017-12-11 01:35] lisawilliams commented on #87
I also had this problem, but when I restarted, it worked. I killed my terminal window, went back into the directory with my bottr bot, and typed `bottr start` and went to localhost:3000. Then the bot worked.

[2018-01-16 15:11] StefH commented on #87
Most recent text on page (https://bottr.co/docs/creating-your-first-bot.html) looks correct:

[code]

[2018-06-06 07:31] floxo115 opened #88 "example page not working"
your example page is not working: 404 file not found

[2018-06-07 10:07] jcampbell05 commented on #88
:) we've discontinued this framework

[2018-06-08 09:16] ummahusla commented on #88
Duplicate #44

[2018-06-08 09:16] #88 closed, assigned to nobody

[2018-12-06 23:14] Couvel commented on #86
Works for me

[2020-01-19 04:49] ghost opened #89 "No documentation anywhere?"
I can't find documentation anymore and I really want to use this framework, does anyone have copies of the documentation or is it just on a new URL?